<footer>
    <p>&copy; 2025 CSE Motors</p>
    <a href="/error" id="footer-error-link">Deliberate error</a>
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
</footer>
