<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="home-content">
        <nav>
        <%- nav %>
        </nav>

        <% if (title) { %>
        <h1><%= title %></h1>
        <% } else { res.redirect('/') } %>
        
        <%- grid %>
    </div>
</body>
</html>
